.image{
  margin: 20px;
  padding: 10px;
}

#postlogin{
  margin: 20px;
}

#prelogin{
  margin: 20px;
}

#rename{
  float: left;
  position: relative;
  margin: 20px;
  padding: 10px;
}

#delete{
  float: right;
  position: relative;
  margin: 20px;
  padding: 10px;
}

#title{
  margin: 20px;
  padding: 20px;
}
