#resize{
    max-width: 95%;
    max-height: 95%;
}

#wrapper
{
    max-width: 60em; /* 960 px */
    margin: 0 auto;
}
    #list
    {
        width: 103.125%; /* 990px */
        overflow: hidden;
        margin-left: -1.562%; /* 15px */
        margin-bottom: -1.875em; /* 30px */
    }
        .item
        {
            width: 30.303%; /* 300px */
            float: left;
            margin: 0 1.515% 1.875em; /* 15px 30px */
        }
 
@media only screen and ( max-width: 40em ) /* 640px */
{
    .item
    {
        width: 46.876%; /* 305px */
        margin-bottom: 0.938em; /* 15px */
    }
}
@media only screen and ( max-width: 20em ) /* 640px */
{
    #list
    {
        width: 100%;
        margin-left: 0;
    }
        .item
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
}

.title {
	text-align: center;

}

.jumbotron{
	border: none;
	font-size: 40px;
	margin-top: 80px;
	padding: 10%;
}

.uploader{
	position: relative;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

#filter{
	font-size: 12px;
}

#rename{
	margin-left: auto;
	margin-right: auto;
}

#delete{
	margin-left: auto;
	margin-right: auto;
}

#view{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
}